<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="60000"></sessionState>
  </system.web>
  <connectionStrings>
    <add name="SmallAppConn" connectionString="Server=a5564e24-9263-46a1-854a-a77e009ab378.sqlserver.sequelizer.com;Database=dba5564e24926346a1854aa77e009ab378;User ID=nerkyuzocktadhlt;Password=FbrY2byYfmvZ3VoiEYankdeeWyfuXzg3isHumX8DTXsTAeNrjLCqpoHB5mcA4ebN;" />
  </connectionStrings>
</configuration>
